.header{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: grey;
    text-align: center;
    height: 100vh;
}
button{
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 80px 40px;
    background-color: brown;
    font-size: 20px;
}
img{
    height: inherit;
    width: inherit;
}